# ── APLIKASI ─────────────────────────────────────────────────
APP_NAME=go-base-project
APP_VERSION=1.0.0
APP_ENV=development          # development | staging | production
APP_PORT=8080
LOG_LEVEL=debug              # debug | info | warn | error
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=mysql
DB_PASSWORD=your_password_here
DB_SSLMODE=disable          

DB_MAX_OPEN_CONNS=25       
DB_MAX_IDLE_CONNS=5         
DB_CONN_MAX_LIFETIME=5      

JWT_SECRET=GANTI_INI_DENGAN_RANDOM_STRING_YANG_SANGAT_PANJANG_DAN_AMAN
JWT_EXPIRY_HOURS=24          
JWT_REFRESH_SECRET=GANTI_INI_JUGA_DENGAN_STRING_YANG_BERBEDA
JWT_REFRESH_EXPIRY_HOURS=168 

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
